* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
  .max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
  
  /* navbar */
  .navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: Poppins, sans-serif;
    transition: all 0.3s ease;
    text-transform: uppercase;
  }
  
  .navbar.sticky {
      padding: 15px 0;
      background: #cbc0d3;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    font-size: 25px;
    font-weight: 300;
    color: white;
  }
  
  .navbar .logo a span {
      color: #cbc0d3;
  }
  
  .navbar.sticky .logo a span {
      color: white;
      transition: all 0.3s ease;
  }
  
  .navbar .menu li {
    list-style: none;
    display: inline-block;
  }
  
  .navbar .menu li a {
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1px;
      margin-left: 25px;
      transition: color 0.3s ease;
  }
  
  .navbar .menu li a:hover {
      color:#cbc0d3;
  }
  
  /* menu button */
  .menu-btn {
      color: white;
      font-size: 23px;
      cursor: pointer;
      display: none;
  }
  
  /* home section */
  .home {
    display: flex;
    background: #23232b;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: Poppins, sans-serif;
  }
  
  .home .max-width {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .home .home-content .text-1 {
    font-size: 27px;
  }
  .home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }
  .home .home-content .text-3 {
      font-size: 35px;
      margin: 5px 0;
  }
  
  .home .home-content .text-3 span {
      color: #cbc0d3;
      font-weight: 500;
  }
  
  /* similar content styling */
  section {
      padding: 100px 0;
  }
  .about, .projects, .education, .contact, footer {
      font-family: Poppins, sans-serif;
  }
  section .title {
      position: relative;
      text-align: center;
      font-size: 40px;
      font-weight: 200;
      margin-bottom: 60px;
      padding-bottom: 20px;
      font-family: Poppins, sans-serif;
      text-transform: uppercase;
  }
  
  .about .about-content,
  .projects .proj-content,
  .education .edu-content,
  .contact .contact-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center; 
      justify-content: space-between;
  }

  .text {
    font-family: Poppins, sans-serif;
  }
  
  /* about section */
  .about .about-content .left {
      width: 45%;
  }
  .about .about-content .left img {
      height: 400px;
      width: 400px; 
      object-fit: cover; 
      border-radius: 6px; 
      border-right: solid 10px #afa5b6;
      border-bottom: solid 10px #afa5b6;
      border-left: solid 10px rgb(117, 114, 128);
      border-top: solid 10px rgb(117, 114, 128);
  }
  .about .about-content .right {
      width: 55%;
  }
  .about .about-content .right .text {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #23232b;
  }
  .about .about-content .right .text span {
      color: #afa5b6;
  }
  .about .about-content .right p {
      text-align: justify;
      height: 100%;
      margin-bottom: 30px;
      color: #23232b;
  }
  .about .about-content .right a:hover {
      color: #afa5b6;   
  }
  .about .about-content .bot-socials {
        display: flex;
        flex-direction: row;
        padding-bottom: 10 px;
        padding-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        gap: 20px;
  }
  .about .about-content .bot-socials svg:hover {
      fill:#8b8291;
      transform: translateY(-5px);
      transition: all 0.3s ease; 
  }
  
  /* projects section */
  .projects {
      background: #23232b;
      color: white;
  }
  .projects .proj-content {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
  }
  .projects .proj-content .card {
      width: calc(33% - 20px);
      background: #4b4864;
      text-align: center;
      border-radius: 6px;
      padding: 20px 25px;
      margin-top: 20px;
      flex: 1;
  }
  .projects .proj-content .card .tools {
      margin-top: 20px;
  }
  .projects .proj-content .card:hover {
      background:#afa5b6;
      cursor: pointer;
  }
  .projects .proj-content .card:hover i{
      color: white;
      font-size: 50px;
      transition: color 0.3s ease;
  }
  .projects .proj-content .card .box {
      transition: all 0.3s ease;
  }
  .projects .proj-content .card:hover .box {
      transform: scale(1.05);
  }
  .projects .proj-content .card i {
      font-size: 50px;
      color: #afa5b6;
  }
  .projects .proj-content .card .text {
      font-size: 25px;
      font-weight: 500;
      margin: 10px 0 15px 0;
  }
  .projects .proj-content a {
      color: white;
  }
  
  
  /* educaiton section */
  .education .edu-content .column {
      width: calc(50% - 30px);
      background-color: #afa5b6;
      padding: 30px;
      border-radius: 6px;
      border-right: solid 5px #23232b;
      border-bottom: solid 5px #23232b;
      color: #23232b;
  }
  .education .edu-content .column:hover {
      background-color: #c1b6c9;
  }
  .education .edu-content .left .text {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
  }
  .education .edu-content .left p {
      text-align: center;
  } 
  .education .edu-content .right .courses ul {
      list-style: circle;
  }
  .education .edu-content .right .courses li {
      padding-bottom: 2px;
      margin-left: 20px;
      font-size: 15px;
  }
  .education .edu-content .right .courses .text {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
  }

  .education a {
      color:#23232b;
      font-size: 20px;
      text-align: center;
      padding: 15px 0px;
      background: #afa5b6;
      display: inline-block;
      border-radius: 6px;
      border-right: 4px solid #23232b;
      border-bottom: 4px solid #23232b;
      margin: auto;
      margin-top: 50px;
      width: 150px;
      display: block;
      font-weight: 600;
  }
  .education a:hover {
      background: #c2b8ca;
      transform: translateY(-5px);
      transition: all 0.3s ease;
  }
  
  /* contact section */
  .contact {
      background:#23232b;
      color: white;
  }
  .contact .contact-content .column {
      width: calc(50% - 30px);
  }
  .contact .contact-content .left p {
      text-align: justify;
  }
  .contact .contact-content .text {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  .contact .contact-content .left .icons {
      margin: 10px 0;
  }
  .contact .contact-content .row {
      display: flex;
      height: 65px;
      align-items: center;
  }
  .contact .contact-content .row .info {
      margin-left: 30px;
  }
  .contact .contact-content .row i {
      font-size: 25px;
      color:#afa5b6;
  } 
  .contact .contact-content .row .info .head {
      font-weight: 600;
  }
  .contact .contact-content .row .info .sub-title {
      color:rgb(252, 244, 255);
  }
 
  .contact .right .text {
      text-align: center;
  }
  
  .contact .right .links ul {
      list-style-type: none;
      text-align: center;
  } 
  .contact .right .links a {
    color: white;
    font-weight: 100;   
    } 
    .contact .right .links li {
        padding: 9px 0px;
    } 

  
  /* media query */
  @media (max-width: 1300px) {
      .home .max-width {
          margin-left: 0px;
        }
  }
  @media (max-width: 1104px) {
      .about .about-content .left img {
          height: 350px;
          width: 350px; 
      }
  }
  @media (max-width: 991px) {
      .max-width {
          padding: 0 50px;
      }
  }
  
  @media (max-width: 950px) {
  
      .menu-btn {
          display: block;
          z-index: 999;
      }
      .menu-btn i.active:before {
          content: "\f00d";
      }
  
      .navbar .menu {
          position: fixed;
          height: 100vh;
          width: 100%;
          right: -100%;
          top: 0;
          background: #afa5b6;
          text-align: center;
          padding-top: 80px;
          transition: all 0.3s ease;
      }
      .navbar .menu.active {
          right: 0;
      }
      .navbar .menu li {
          display: block;
      }
      .navbar .menu li a{
          display: inline-block;
          margin: 20px 0;
          font-size: 25px;
      }
  
      .home .home-content .text-2 {
          font-size: 65px;
        }
      .home .home-content .text-3 {
          font-size: 30px;
      }
      .home .home-content a {
          font-size: 23px;
          padding: 10px 30px;
      }
      .max-width{
          max-width: 800px;
      }
      .about .about-content .column {
          width: 100%;
      }
      .about .about-content .left {
          display: flex;
          justify-content: center;
          margin: 0 auto 60px;
      }
      .about .about-content .right {
          flex: 100%;
      }
      .projects .proj-content {
          display: flex;
          flex-wrap: wrap;

      }
      .projects .proj-content .card {
          width: calc(50% - 10px);
          margin-bottom: 20px;
          flex: none;
      }
      .contact .contact-content .column,
      .education .edu-content .column {
          width: 100%;
          margin-bottom: 30px;
      }

      .contact {
          padding-bottom: 30px;
      }
  }
  @media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .education .edu-content .column,
    .projects .proj-content .card {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
      }
    .home .home-content .text-3 {
        font-size: 28px;
    }
}
  
  
  /* footer section */
  footer {
      background: #afa5b6;
      padding: 20px 23px;
      color: white;
      text-align: center;
  }
  footer span a {
      color: rgb(69, 67, 75);
      text-decoration: none;
  }




  /* slide animations */
  .slideanim-left {
      visibility: hidden;
  }
  .scrolled-left {
      visibility: visible;
      animation: slide-in-left 1.3s;
  }
  @keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.slideanim-right {
    visibility: hidden;
}

.scrolled-right {
    visibility: visible;
    animation: slide-in-right 1.3s;
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.slideanim-up {
    visibility: hidden;
}

.scrolled-up {
    visibility: visible;
    animation: slide-in-up 1.3s;
}

@keyframes slide-in-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



